
   
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content:center;
  margin: 100px;
  
}

input {
 display: inline-block;
 
 box-sizing: border-box;
 width: 218px;
 height: 29px;
 background: #FFFFFF;
 border: 0.8px solid #000000;
 border-radius: 10px;
 margin: 30px;
 
 
}
input [type="text"]
{
 width: 116px;
 height: 15px;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 22px;
 display: flex;
 align-items: center;
 color: #000000;
  
}
